* {
  margin: 0;
  padding: 0;
}

p, ul {
  margin-bottom: 1.2em;
}

body {
  background: #ccc;
  color: $color-blue;
  font-size: $font-size;
  background-color: $color-yellow;
  // line-height: 1.3em;
}

#portfolio, #portfolioitem {
  background-color: $color-white;
}

.main {
  position: relative;
  // margin: 160px 36px 72px 36px;
  display: block;
}

img {
  border: none;
  outline: none;
}

a:link, a:visited {
  color: $color-blue;
  text-decoration: none;
}

// TODO
strong {
  font-family: $font-family-bold;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: $font-family-regular;
  font-weight: normal;
}

h1 {
  font-size: $font-size-extralarge;
}

// utilizzato in 'about'
h2 {
  font-size: $font-size;
  margin-bottom: 2em;
  font-size: 1em;
  // font-family: $font-family-bold;
  font-weight: normal;
}

img {
  max-width: 100%;
}