@font-face {
  font-family: 'ApercuRegular';
  font-style: normal;
  src: url(../fonts/ApercuRegular.otf);
}

@font-face {
  font-family: 'ApercuMedium';
  font-style: normal;
  src: url(../fonts/ApercuMedium.otf);
}

@font-face {
  font-family: 'ApercuLight';
  font-style: normal;
  src: url(../fonts/ApercuLight.otf);
}

@font-face {
  font-family: 'ApercuLightItalic';
  font-style: normal;
  src: url(../fonts/ApercuLightItalic.otf);
}