@include media($screen-small) {
  #portfolioitem {
    .text ul {
      // margin-top: -2em;
      margin-bottom: 2em;
    }

    .text li {
      list-style-position: inside;
    }

    .text ul {
      margin-top: 1em;
    }

    // .images p {
    //   font-family: 'ApercuLight' !important;
    // }

    .images p em {
      font-family: $font-family-italic;
      font-weight: normal;
      font-style: normal;
    }

    .images p strong em {
      font-family: $font-family-bold-italic;
      font-weight: normal;
    }

    .portfolioitem-image {
      margin-bottom: 0.4em;
    }

    .portfolioitem-image:last-child {
      margin-bottom: 1em;
    }
  }
}

@include media($screen-medium) {
  #portfolioitem {
    .images {
      @include span-columns (7.9 of 12);
    }

    .portfolioitem-image {
      width: 100%;
    }

    .text {
      @include span-columns (4 of 12);
      float: right;
    }

    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }
}